@tailwind base;
    @tailwind components;
    @tailwind utilities;

    body {
      background-color: #f3f4f6;
    }
    
    /* Custom scrollbar for the list */
    .hide-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .hide-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
